input{  
	background:none;  
	outline:none;  
	border:none;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  overflow: hidden;
}
.page{
  position: relative;
  height: 16.5rem;
  overflow: scroll;
}
.footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  min-width: 100%;
}
.footer ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 1.4rem;
  background-color: #fff;
}